In [1]:
import pandas as pd

# Read CSV file
data_sessions = pd.read_csv('/content/drive/MyDrive/opensessions.csv')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data_sessions

,ID,START_DATE,END_DATE,EVENT_ID,MENTOR_NOTES,LANGUAGE_ID,MENTEE_COMPUTER_ID,MENTOR_ID,MSM,HANGOUTS_LINK,...,CITY,LANGUAGES,VBB_CHAPTER,DESIRED_INVOLVEMENT,REFERRAL_SOURCE,CHARGED,ISVERIFIED,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,162,NaN,NaN,NaN,NaN,1,2,NaN,600,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,163,NaN,NaN,NaN,NaN,1,2,NaN,2040,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,164,NaN,NaN,NaN,NaN,1,2,NaN,3480,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,165,NaN,NaN,NaN,NaN,1,2,NaN,4920,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,166,11/14/2020 0:00,3/13/2021 0:00,nfrad438i7ehie4q6b823gbmo4,NaN,1,2,2351,6360,https://meet.google.com/epi-bsdw-rog,...,"Orlando, FL",English,NaN,Other,Through my organization/school,Driving while intoxicated - 1999,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,2329,11/22/2021 0:00,3/21/2022 0:00,cb2uqfe3vkpdosnm3gchvbuu44,NaN,1,103,7104,780,https://meet.google.com/woq-wyah-mzr,...,Provo Utah,"English, Spanish",NaN,NaN,JustServe,No,1,NaN,NaN,NaN
1072,2281,NaN,NaN,NaN,NaN,1,101,NaN,2340,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,2777,2/4/2022 0:00,6/3/2022 0:00,2s5et01l437korhdbdvjk700nc,NaN,1,161,7449,6690,https://meet.google.com/dzg-pesz-hfy,...,"Sacramento, CA","English, learning Spanish",NaN,NaN,Through my organization/school,No,1,NaN,NaN,NaN
1074,2798,2/2/2022 0:00,6/1/2022 0:00,anarv6rcqabmklubv0q23ktmbg,NaN,1,164,4798,3810,https://meet.google.com/xiv-vjaz-yzj,...,Georgia,English,Yes,NaN,Other,No,1,NaN,NaN,NaN
1075,1094,9/27/2021 0:00,1/24/2022 0:00,k6kq93l12dtsmp11eh0m6nijb4,I would like to see the same mentee. I have ta...,1,28,6763,900,https://meet.google.com/ndg-mipz-ysa,...,"Chester, VA","English, Urdu",No,StartChapter,Through my organization/school,No,1,NaN,NaN,NaN

In [4]:
day_week = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}

import math

def is_paired(event_id):
    if isinstance(event_id, str):
        return "Y"
    else:
        return "N"

In [5]:
column_names = ["Program", "Paired", "Day", "Time_EST"]
data = pd.DataFrame(columns = column_names)

data_sessions = data_sessions[pd.to_numeric(data_sessions['MSM'], errors='coerce').notnull()]
data_sessions = data_sessions[~pd.to_numeric(data_sessions['COMPUTER_EMAIL'], errors='coerce').notnull()]
data['Program'] = data_sessions['COMPUTER_EMAIL'].astype(str).str[0:4]
# Drop 'http' from program
data = data[data['Program'].str.contains("http") == False]

data["Paired"] = data_sessions['EVENT_ID'].apply(lambda x: is_paired(x))

tmp = data_sessions['MSM'].astype(int)/1440
data['Time_EST'] = (data_sessions['MSM'].astype(int) - 1440*tmp.round())/60
data['Time_EST'] = data['Time_EST'].mod(24).astype(int)

data['Day'] = tmp.round().astype(int).mod(7).replace(day_week)

In [6]:
data

     Program Paired        Day  Time_EST
0       high      N     Monday        10
1       high      N    Tuesday        10
2       high      N  Wednesday        10
3       high      N   Thursday        10
4       high      Y     Friday        10
...      ...    ...        ...       ...
1071    kadz      Y    Tuesday        13
1072    kadz      N  Wednesday        15
1073    vima      Y   Saturday        15
1074    vima      Y   Thursday        15
1075    muko      Y    Tuesday        15

[1038 rows x 4 columns]

In [7]:
data.to_csv('slots.csv', index=False)

In [ ]:
data.groupby(['Program', 'Time_EST', 'Day']).size().unstack(fill_value=0)

Day               00_Mon  01_Tues  02_Wed  03_Thur  04_Fri  05_Sat  06_Sun
Program Time_EST
adei    13             0        4       4        4       4       4       0
        14             0        4       4        4       4       4       0
        15             0        0       0        0       1       0       0
aher    8              3        3       0        0       0       0       0
        9              6        6       6        6       6       6       3
        10             6        6       6        5       6       6       3
        11             6        6       6        6       6       6       3
        12             6        0      12        0      12       0       9
        13             3        6       6        6       6       6       6
        14             3        6       6        6       6       6       6
biwi    12             3        0       6        0       6       0       0
        13             0        3       3        3       3       3       0
        14             0        3       3        3       3       3       0
char    12             0        0      16        0      16       0       8
        13             0        0       8        8       8       8       8
        14             0        0       8        8       8       8       7
high    10             4        4       4        4       4       0       0
        11             4        4       4        4       4       0       0
        12             4        0       8        0       8       0       0
        13             0        4       4        4       4       4       0
        14             0        4       4        4       4       4       0
joll    10             4        4       4        4       4       0       0
        13             0        4       4        4       4       4       0
        14             0        4       4        4       4       4       0
kadz    13             0       10      10       10      10      10      10
        14             0       10      10       10      10      10      10
        15             0       10      10       10       9      10      10
mara    10             0        0       0        0       0       0       4
        11             4        4       4        4       4       4       4
        12             4        0       8        0       8       0       8
        13             4        4       4        4       4       4       4
        14             4        4       4        4       4       4       4
muko    10             0        2       0        2       0       0       0
        11             0        2       0        2       0       2       2
        12             2        0       4        0       4       0       3
        13             2        2       2        2       2       2       2
        14             2        1       2        2       2       2       2
        15             2        2       2        2       2       2       2
vima    12             0        0       0        0       0       0       4
        13             0        0       0        0       0       0       4
        14             0        4       4        4       4       4       4
        15             0        4       4        3       4       4       3
        16             0        3       4        4       4       4       0

In [ ]:
data.groupby(['Program','Paired']).size().unstack(fill_value=0)

Paired     N    Y
Program
adei      19   22
aher     106  133
biwi      32   13
char      83   36
high      76   24
joll      47   13
kadz     113   66
mara      74   42
muko      31   35
vima      50   23